beautifulsoup4==4.15.0
certifi==2026.6.17
charset_normalizer==3.4.7
deep-translator==1.11.4
idna==3.18
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
pygments==2.20.0
pytest==9.1.1
requests==2.34.2
soupsieve==2.8.4
typing-extensions==4.15.0
urllib3==2.7.0
websocket-client==1.9.0
